# Ignore all files without .cpp extension
*
!.cpp
!Array.cpp
!BackTracking.cpp
!BinarySearch.cpp
!BinarySearchTrees.cpp
!BinaryTrees.cpp
!BitManipulation.cpp
!DynamicProgramming.cpp
!Graph.cpp
!Greedy.cpp
!Heap.cpp
!LinkedList.cpp
!Matrix.cpp
!String.cpp
!Trie.cpp
!stackNqueue.cpp
!xtraDSA.cpp
